body, html, #root, .App{
  text-align: center;
  background-color: rgba(255, 119, 16, 0.847);
  height: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-footer{
  margin-top: auto;
}








