.create-lost-item {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-lost-item h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.create-lost-item label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.create-lost-item input[type="text-lostitem"],
.create-lost-item textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-lost-item input[type="file-lostitem"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.create-lost-item input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-lost-item button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-lost-item button:hover {
  background-color: #0056b3;
}

.create-lost-item .error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
