/* Home.css */

/* Global styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* News slider styles */
.home-news-slider {
    height: 250px;
    overflow: hidden;
    margin-bottom: 80px;
}

.home-news-item {
    padding: 0;
    height: 200px;
    cursor: pointer;
    margin-top: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.home-news-item:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.home-news-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-news-item h2 {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: calc(100% - 20px);
    z-index: 1;
}


/* Add centering styles for listings container */
.listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
  }
  
  /* Add space between listing items */
  .listing-card {
    margin: 0 10px; /* Adjust the value to increase/decrease spacing */
    padding: 14px;
  }
  .home-lost-and-found {
    padding: 20px;
  }
  
  .home-lost-and-found h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .lost-and-found-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Style for each individual card */
  .lost-and-found-card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
  }
  
  .lost-and-found-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 14px;
  }
  
  .lost-and-found-card p {
    font-size: 14px;
    line-height: 1.5;
    padding: 14px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .lost-and-found-card {
      width: calc(50% - 10px);
    }
  }
  
  @media (max-width: 480px) {
    .lost-and-found-card {
      width: 100%;
    }
  }
  
 